
@{
    ViewBag.Title = "Sklepystacjonarne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top:40px;">
        <div style="display: flex; justify-content: center;"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.952427930992!2d19.031044115506003!3d50.25547277944894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716b7faff5b0361%3A0xdaa9020daafcde0f!2sPolitechnika%20%C5%9Al%C4%85ska%20Wydzia%C5%82%20Transportu!5e0!3m2!1spl!2spl!4v1587995074106!5m2!1spl!2spl" width="100%" height="645" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
    </div>

