@model Audiofile.Models.Zamowienie
@{
    ViewBag.Title = "Zaplac";
    Layout = "~/Views/Shared/_RightSectionayout.cshtml";
}

<div style="margin-top: 100px; text-align: center">
    Dziękujemy! Twoje zamówienie zostało wysłane!
</div>
